<% if(typeof error === 'string'){%>
    <div class="alert aletrt-danger">
        <%= error%>
    </div>
    <%}%>
    <% if(typeof success === 'string'){%>
        <div class="alert aletrt-success">
            <%= success%>
        </div>
        <%}%>